<div class="container">


  <h1>Le journal alimentaire</h1>
  
  <div class='container-home'>
  <div *ngFor="let Liste of liste | paginate: { itemsPerPage: 3, currentPage: p }" class="container-h">
    <p class="nom">Repas :{{Liste.nom}}</p>
    <p class='desc'>Description : {{Liste.description}}</p>
    <p class='desc'>Jours : {{Liste.jour}}</p>

    <div class='btn-home'>
      <button style="background-color: #CCCE32;">Modifier</button>
      <button style="background-color: #FA314E;" (click)="supprimer(Liste)" >Supprimer</button>
    </div>
    <!-- <button  style="background: green; color: #fff; margin-top: 10px; border: none; padding: 5px 10px;" (click)="repasConsommee(Liste.id)">Marquer comme consommé</button> -->
    <mat-checkbox class="example-margin" (click)="repasConsommee(Liste.id)">Consommé</mat-checkbox>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>