:root{
    --clr-primary1 : #FA314E;
    --clr-primary2 : #CCCE32;
    --clr-primary1 : #020202;
   }
   body{
       font-family: 'Courier New', Courier, monospace;
       height: 100%;
       width: 100%;
   }
   .container{
       width: 100%;
       display: flex;
       /* gap: 2rem; */
       height: 100%;
   }
   .sidebar{
       width: 25%;
       height: 120.5vh;
       background: #FA314E;
       color: #fff;
   }
   nav{
       margin-top: 2rem;
   }
   .logo{
       padding: 10px 15px;
       display: flex;
       align-items: center;
       gap: 2rem;
       border-bottom: 1px solid #F9F9F9;
       opacity: 0.9;
       margin: 1rem;
   }
   .logo img{
       width: 48px;
       height: 40px;    
   }
   .logo span {
       font-size: 20px;
   
   }
   
   .contenu{
       width: 75%;
       background: #EFF0F4;
   }
   ul li{
       list-style-type: none;
       margin-bottom: 30px;
   }
   
   ul li a {
       text-decoration: none;
       color: #fff;
       margin-bottom: 2rem;
   }
   ul li:not(:last-of-type){
       border-bottom: 1px solid #eee;
    }
   ul li a : hover {
       background: #CCCE32;
    }
   .icon{
       display: flex;
       align-items: center;
       gap: 2rem;
   }
   header{
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 10px 10px;
       background: #fff;
   }
   .user-icon{
       display: flex;
       align-items: center;
       gap: 1rem;
   }
   .user{
   display: flex;
   align-items: center;
   gap: 1rem;
   }
   .search{
       display: flex;
       align-items: center;
       gap: 1rem;
       padding: 5px;
       margin-left: 10px;
   }
   input{
       width: 350px;
       height: 3rem;
       border-radius: 20px;
       border: none;
       background: #EFF0F4;
       text-align: center;
   }
   .search input:focus{
       outline: none;
   }
   .search button{
       height: 3rem;
       background: #FA314E;
       color: #fff;
       border: none;
       width: 150px;
       border-radius: 20px;
   }
   user-i span{
    background: #FA314E;
   
   }
   .router{
       margin-left: 1rem;
   }
   footer {
       /* position : absolute;
       bottom : 0; */
       /* left : 0; */
       height:4rem;
       background: black;
       display: flex;
       justify-content : space-between;
       color: #fff;
   
   }
   .icon{
       margin : 0 1rem 0 0;
   }
   /* .adresse{
       display: flex;
       flex-wrap : wrap;
       gap : 1rem;
       width: 200px;
   } */