
<h1 mat-dialog-title id="titre"></h1>
<div mat-dialog-content class="mat-typography">

<form [formGroup]="repasForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" id="nom" formControlName="nom" placeholder="Nom du repas" required>
    </div>
    <div>
      <input type="text" id="nom" formControlName="description" placeholder="Description" required>
    </div>
    <div>
      <input type="number" id="calories" formControlName="calories" placeholder="Calories" required>
    </div>
    <div class="img">
      <input type="file" id="image" formControlName="image" placeholder="Télécharger l'image" accept="image/jpeg, image/png" (change)="ImageChange($event)"> 
    </div>
   
    <button mat-raised-button color="primary" type="submit" [disabled]="!repasForm.valid">Ajouter</button>
  </form>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </div>
</div>