
<h1 mat-dialog-title id="titre">Ajouter un repas</h1>
<div mat-dialog-content class="mat-typography">

  <form [formGroup]="repasForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="input-container">
        <div class="input-field">
          <input type="text" id="nom" formControlName="nom" placeholder="Nom du repas" required>
        </div>
        <div class="input-field">
          <input type="text" id="description" formControlName="description" placeholder="Description" required>
        </div>
        <div class="input-field">
          <input type="number" id="calories" formControlName="calories" placeholder="Calories" required>
        </div>
      </div>
      <div class="image-container">
        <input type="file" id="image" class="form-control" formControlName="image" accept="image/jpeg, image/png" (change)="onFileChange($event)" (change)="ImageChange($event)">
      </div>
      <div class="img">
        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 150px; width: 150px">
        <!-- <img src="../../assets/image/repas-rapides.jpg"> -->
      </div>
    </div>
    <div mat-dialog-actions class="actions">
      <button mat-button mat-dialog-close><i class='bx bx-x'></i> Annuler</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!repasForm.valid"> <i class='bx bx-check'></i> Ajouter</button>
    </div>
  </form>
</div>
