<div class="container">

    <div class="btn-add">
        <button (click)="openDialog()">Ajouter repas</button>
    </div>
    <h1>La liste des repas</h1>
    <div>
        <div class='container-home'>
            <div *ngFor="let repas of plat | paginate: { itemsPerPage: 3, currentPage: p }" class="container-h">
                <!-- <div *ngIf="> -->
                <img [src]="repas.image" class='img' alt={{repas.nom}} />
                <p class="nom">{{repas.nom}}</p>
                <p class='desc'>{{repas.description}}</p>
                <p class='calories '>Nombre de calories :{{repas.calories}}</p>
                <div class='btn-home'>
                    <button style="background-color: #CCCE32;"><span class="material-symbols-outlined"> edit_square</span>Modifier</button>
                    <button style="background-color: #FA314E;" (click)="supprimerRepas(repas)"><span
                            class="material-symbols-outlined">
                            delete
                        </span>Supprimer</button>
                </div>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>